[Unit]
Description=Set HDMI as default audio sink
After=pipewire.service wireplumber.service

[Service]
Type=oneshot
ExecStart=/usr/bin/wpctl set-default 57

[Install]
WantedBy=default.target

