 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #715D52;
active-foreground: #E1E4E9;
normal-background: #00010E;
normal-foreground: #E1E4E9;
urgent-background: #64859F;
urgent-foreground: #E1E4E9;

alternate-active-background: #5E5A59;
alternate-active-foreground: #E1E4E9;
alternate-normal-background: #00010E;
alternate-normal-foreground: #E1E4E9;
alternate-urgent-background: #00010E;
alternate-urgent-foreground: #E1E4E9;

selected-active-background: #64859F;
selected-active-foreground: #E1E4E9;
selected-normal-background: #64859F;
selected-normal-foreground: #E1E4E9;
selected-urgent-background: #715D52;
selected-urgent-foreground: #E1E4E9;

background-color: #00010E;
background: rgba(0,0,0,0.7);
foreground: #E1E4E9;
border-color: #715D52;

color0: #000511;
color1: #0C3B57;
color2: #0E3F5C;
color3: #464443;
color4: #55463D;
color5: #4B6477;
color6: #7F858F;
color7: #CCD0D7;
color8: #8F9196;
color9: #104E74;
color10: #13547B;
color11: #5E5A59;
color12: #715D52;
color13: #64859F;
color14: #AAB1BF;
color15: #CCD0D7;


}

